<div class="main-visual">
    <div class="main-visual-content">
      <h1 class="main-visual-text">
          My <span style="font-family:futura-lt-w01-light,sans-serif">Portforio</span> page.
      </h1>
                
    </div>
</div>
        
<!--ポートフォリオの部分-->
<main>
      <section class="blog">
        <h2 class="blog-heading">Recent Blogs</h2>

        <div class="blog-box">
          <div class="blog-item">
            <%= image_tag('stareco.jpg', class: 'blog-image') %>
            <section class="blog-text">
              <div class="blog-text-heading">
                <a href="http://54.238.90.188/">
                  <h3>【スタレコ】</h3><br />
                    <p>営業の方々向けの顧客管理ツールを<br />
                イメージして作成しました。<br/>
                ※初めてのポートフォリオなのでクオリティはご愛嬌</p>
                </a>
              </div>
              <p class="blog-date">2021/08/20</p>
              <span class="category">ポートフォリオ</span>
            </section>
          </div>
        </div>      </section>
      <div class="sidebar"></div>
    </main>
