<main>
    <div class="conainer">
        <div class="main-visual">
            <div class="main-visual-content">
            
                <h1 class="main-visual-text">
                  My <span style="font-family:futura-lt-w01-light,sans-serif">Portforio</span> page.
                </h1>
                
            </div>
        </div>
        
        <!--ポートフォリオの部分-->
        <div class = "portofolio">
            <h2 class="portfolio-heading">My Portforio</h2>    
        <div class="item">
          <img class="blog-image" src="">
          <section class="text">
            <h3>
              <a href="#">
                Hopeful lessons from<br>
                the battle to save<br>
                rainforests
              </a>
            </h3>
            <p>June 19, 2017</p>
            <span class="category">Nature</span>
          </section>
        </div>
        </div>
        
    </div>
</main>